* {
    padding: 0;
    margin: 0;
}
html {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-bottom: 10rem;
}
body {
    background-image: url('https://cdn.britannica.com/03/75503-050-F65891FA/volcanic-cone-Japan-Mount-Fuji.jpg');
    background-color: #8e5ca52f;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}