@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

.log {
    color: black !important;
    font-weight: bold;
    transition: .2s;
}
.log:hover {
    border-bottom: .1px solid black;
}

.post:hover {
    transition: 0.2s;
    background-color: rgb(240,240,240) !important;
}
.limpiar:hover {
    background-color: rgb(240,240,240) !important;
}
.momentazo p {
    font-family: 'Train One', cursive;
    font-size: 1.5rem;
    margin-top: -2.5rem;
    /* position: relative;
    left: -1rem;
    margin-bottom: 1.4rem; */
}
.form-head {
    margin-left: auto;
    margin-right: auto;
}
.post-head {
    padding-left: 2.2rem;
}
