@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

input:focus {outline:0;}
a {
    text-decoration: none;
    outline: none;
    color: rgb(255, 245, 255);
}
a:visited {
    color: rgb(255, 245, 255);
}
.logo img {
    width: 120px;
    height: 50px; 
    position: absolute; 
    left: 4.2rem;
    top: 7px;
    transition: 0.2s;
}
.logo img:hover {
    width: 129px;
    height: 56px;
    cursor: pointer;
}
.logo {
    width: 14.82rem;
    font-size: 35px;
    font-weight: 200;
    position: absolute;
    left: 4.2rem;
    top: 17px;
    transition: 0.2s;
    font-family: 'Roboto', sans-serif;
    /* color: rgb(35, 86, 138, 0.5); */
    color: rgb(255, 245, 255);
    /* background-color:rgba(242, 223, 245, 0.7); */
    background-color: rgb(36, 44, 48);
    border-radius: .2rem;
}
.logo p {
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
.logo:after, .logo:before {
    content: " ";
    width: 1%;
    height: 1%;
    position: absolute;
    border: 0px solid #fff;
    transition: all .5s;
  }
  .logo:after {
    top: -1px;
    left: -1px;
    /* border-top: 2px solid rgb(35, 86, 138, 0.5); */
    border-top: 2px solid rgb(255, 255, 255);
    /* border-left: 2px solid rgb(35, 86, 138, 0.5); */
    border-left: 2px solid rgb(255, 255, 255);
  }
  .logo:before {
    bottom: -1px;
    right: -1px;
    /* border-bottom: 2px solid rgb(35, 86, 138, 0.5);
    border-right: 2px solid rgb(35, 86, 138, 0.5); */
    border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
  }
  .logo:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .logo:hover:before, .logo:hover:after {
    width: 103%;
    height: 103%;
  }
.search {
    width: 100%;
    margin-left: auto;
    margin-right: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(218, 142, 206, 0.1); */
    background-color: rgb(36, 44, 48);
    height: 70px;
    margin-bottom: 3rem;
}
.search-input {
    height: 15px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    width: 15rem;
    font-family: 'Roboto', sans-serif;
    padding-right: 50px;
    margin-left: 22rem;
}
.search-btn {
    height: 30px;
    width: 30px;
    border: none;
    color: white;
    border-radius: 36px;
    font-weight: bold;
    align-items: center;
    transition: 0.2s;
    margin-left: -2.2rem;
    margin-top: 5px;
}
.search-btn:hover {
    cursor: pointer;
}
.login {
    background-color: rgb(36, 44, 48);
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    padding: .6rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: .2rem;
    transition: .2s;
    font-weight: bold;
    margin-left: auto;
}
.login:hover {
    color: rgb(36, 44, 48);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
button:focus {outline:0;}
.train {
    font-family: 'Train One', cursive;
}
.swal-overlay {
    background-color: rgba(0, 0, 0, .7);
}
.swal-modal {
    font-family: 'Roboto', sans-serif;
}

.swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
  }

@media (max-width: 680px) {
    .search {
        height: 100px;
        /* background-color:rgba(241, 193, 223, 0.0); */
    }
    .search-input {
        width: 100%;
        margin: 0px;
        height: 100%;
        display: block;
        margin-top: 8rem;
        position:static;
        margin-left: 2.5rem;
        border: solid .1px rgb(36, 44, 48);
    }
    .search-btn {
        position: relative;
        top: -2.4rem;
        left: 19.6rem;
        border: none;

    }
    .logo {
        display: none;
    }
    .logo img {
        display: none;
    }
    .login {
        margin-right: 1rem;
    }
  }