@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

.card {
    background-color: rgb(252, 252, 252);
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    box-shadow: 4px 7px 9px 2px rgba(0,0,0,0.18);
    -webkit-box-shadow: 4px 7px 9px 2px rgba(0,0,0,0.18);
    -moz-box-shadow: 4px 7px 9px 2px rgba(0,0,0,0.18);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin-bottom: 4rem;
}
.card h5 {
    color: rgb(100, 100, 100);
    margin-top: 2rem;
}
.card-header {
    position: relative;
    height: 48px;
}
.card-body {
    margin-top: 2rem;
    margin-bottom: .8rem;
}

.avatarUser {
    color: rgb(199,0,37) !important;
    background-color: rgb(43, 46, 42) !important;
    width: 84px !important;
    height: 84px !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px rgb(252, 252, 252) solid;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.1);
}
.post-user {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.card .card-footer {
    display: flex;
    flex-direction: row;
    width: 99.5%;
    border: 1px solid rgb(244, 244,244);
    justify-content: flex-end;
}
.card .card-footer .col {
    width: 50%;
    padding: 10px 10px;
    font-size: 15px;
    height: 1.4rem;
    text-align: center;
}
.card .card-footer .col .count {
    font-weight: 600;
}
.vr {
    border-right: 1px solid rgb(244, 244,244);
}
.singular-post {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    justify-content: center !important;
}
.post-user {
    display: flex;
    flex-direction: column;
}
.user-posts-card {
    height: 2rem;
    margin-top: 2rem;
    border-top: 1px solid rgb(244, 244,244);
    padding: 10px 10px;
    padding-bottom: 0px;
}
.col .count {
    font-weight: 600;
}
.google-user-followers {
    font-size: .77rem;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
}
.follow-btn {
    margin-top: 1.2rem;
    padding: .7rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(250, 250, 250);
    color: rgb(36, 44, 48);
    border: 1px solid rgb(244, 244,244);
    cursor: pointer;
    font-size: .9rem;
    border-radius: .2rem;
}
.follow-btn:active {
    border: solid .1px rgb(36, 44, 48, 0.2);
}
.circularProgress {
    margin-left: 48% !important; 
    margin-right: 52% !important;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: black !important;
}

.posts-likes {
    font-family: 'Train One', cursive;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -3rem;
    color: rgb(36, 44, 48, 0.9);
}
.posts-likes h2{
    margin: 2rem;
    padding: .2rem;
    cursor: pointer;
    -webkit-user-select: none;
    transition: .1s ease-in;
}
.posts-likes h2:hover {
    text-shadow: 2px 2px 2px rgb(36, 44, 48, 0.2);
}
.selected {
    border-bottom: solid .2rem rgb(43, 46, 42);
    text-shadow: 2px 2px 2px rgb(36, 44, 48, 0.2);
}

@media (max-width: 680px) {
    .singular-post {
        width: 100%;
    }
    .circularProgress {
        margin-left: 38% !important; 
        margin-right: 62% !important;
        margin-top: 4rem;
        color: black !important;
    }
}