@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.card {
    background-color: rgb(252, 252, 252);
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    box-shadow: 4px 7px 9px 2px rgba(0,0,0,0.18);
    -webkit-box-shadow: 4px 7px 9px 2px rgba(0,0,0,0.18);
    -moz-box-shadow: 4px 7px 9px 2px rgba(0,0,0,0.18);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 13rem;
    margin-bottom: 4rem;
}
.card h5 {
    color: rgb(100, 100, 100);
    margin-top: 2rem;
}
.card-header {
    position: relative;
    height: 48px;
}
.card-body {
    margin-top: 2rem;
    margin-bottom: .8rem;
}

.avatarUser {
    color: rgb(199,0,37) !important;
    background-color: rgb(43, 46, 42) !important;
    width: 84px !important;
    height: 84px !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px rgb(252, 252, 252) solid;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.1);
}
.post-user {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.card .card-footer {
    display: table;
    width: 99%;
    border: 1px solid rgb(244, 244,244);
    justify-content: flex-end;
}
.card .card-footer .col {
    display: table-cell;
    padding: 10px 10px;
    font-size: 15px;
    height: 1.4rem;
    text-align: center;
}
.card .card-footer .col .count {
    font-weight: 600;
}
.vr {
    border-right: 1px solid rgb(244, 244,244);
}
.singular-post {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    justify-content: center !important;
}
.grid-users {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 680px) {
    .singular-post {
        width: 100%;
    }
}