@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/athene');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

.shadow:hover {
    box-shadow: 4px 7px 9px 2px rgba(0,0,0,0.18);
    -webkit-box-shadow: 4px 7px 9px 2px rgba(0,0,0,0.18);
    -moz-box-shadow: 4px 7px 9px 2px rgba(0,0,0,0.18);
    transition: .2s;
}
.name-title {
    font-size: 1rem !important;
    margin-bottom: .6rem;
    color: rgb(250,250,250) !important;
    font-family: 'Poppins', sans-serif !important;
    margin-left: -.7rem;
}
.name-title a{
    color: rgb(250,250,250) !important;
    
}
.name-title:visited {
    color: rgb(250,250,250) !important;
}
.name-title a:visited {
    color: rgb(250,250,250) !important;
}
.modal-information {
    width: 20rem;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
.modal-title {
    position: relative;
    width: 100%;
    margin: 1rem;
    font-size: 1.8rem;
}
.modal-information .modal-message {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2rem;
    padding-top: 1rem;
    width: 80%;
    border-top: solid .1px rgba(230,230,230,0.7);
    border-bottom: solid .1px rgba(230,230,230,0.7);
    margin-left: auto;
    margin-right: auto;
}
.modal-tags p {
    margin-top: 1rem;
    margin-left: .6rem;
    font-size: .8rem;
    color: rgb(150,150,150);
}
.a-visited {
    font-family: 'Poppins', sans-serif !important;
    color: rgb(250,250,255) !important;
}
.time-created {
    margin-left: -1rem !important;
    margin-top: -.6rem !important;
    font-size: .8rem !important;
}
.post-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: -0.4rem;
    color: rgb(40,40,40) !important;
    font-family: 'Poppins', sans-serif;
}
.post-title a {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: -0.4rem;
    color: rgb(40,40,40) !important;
}
.post-title:visited {
    color: rgb(40,40,40) !important;
}
@media (max-width: 680px) {
    .shadow {
        width: 20rem !important;
    }
    .modal-information {
        display: none;
        width: 20rem;
        font-family: 'Poppins', sans-serif;
        height: 100%;
    }
    .image-modal-information {
        max-width: 91vw !important;
        max-height: 90vh !important;
        margin-left: 0px !important;
        padding: 0px !important;
    }
}